<!-- templates/books/book_detail.html -->
{% extends '_base.html' %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
<div class="book-detail">
  {% if book.cover %}
    <img class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }}" >
  {% endif %}
  {% if book.files %}
    <h2><a href="{{ book.files.url }}">{{ book.title }}</a></h2>
  {% endif %}
  {% if book.description %}
    <p><h2>Описание:</h2><hr> {{book.description|safe }}<hr></p>
  {% endif %}
  {% if book.author %}
    <p>Author: {{ book.author }}</p>
  {% endif %}
  {% if book.category %}
    <p>Category: {{ book.category}} </p>
  {% endif %}
  {% if book.language %}
    <p>language: {{ book.get_language_display }} </p>
  {% endif %}
  {% if book.price %}
    <p>Price: {{ book.price }}</p>
  {% endif %}
  {% if book.come_out %}
    <p>Come out: {{ book.come_out }}</p>
  {% endif %}
  {% if book.edition %}
    <p>Come out: {{ book.edition }}</p>
  {% endif %}
</div>



<!-- Фотма ввода-->
        <form action="{% url 'book_detail' book.id %}" method="post" id="main_form" >
          <div class="form-outline mb-4">
              {% csrf_token %}
              {{ form.as_p }}

            <button type="submit" class="form-label" for="addANote">+ Добавить отзыв</button>
          </div>
        </form>




{% for review in book.reviews.all %}

<div class="row d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
      <div class="card-body p-4">
        <div class="card mb-4">
          <div class="card-body">
            <p>{{ review.review }}</p>
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                  height="25" />
                <p class="small mb-0 ms-2">{{ review.author }}</p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0">{{ review.date_posted }}</p>
                <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}